.DegreeCounter {
    padding-top: 3px;
    max-width : 1000px;
    background-color: var(--counter-color,#5ab4bd);
    align-content: center;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.CounterCell {
    width: 100px;
    margin: 2px;
    height: 95px;
    border: 1px solid white;
    text-align: center;
    background-color: white;
    text-align: center;
}

.CounterCellHead {
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: solid gray 1px;
}


.Tooltip {
    position: absolute;
    background-color: black;
    display: inline-block;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;

}

    .Tooltip tr {
        background-color: black;
    }



.tabs {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 950px;
    margin-top: 100px;
    align-content: left;
    background-color: var(--counter-color,#5ab4bd);
}

.tab_item {
    width: calc(100%/3);
    height: 40px;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    color: #565656;
    display: block;
    font-size: 20px;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}

.tab {
    display: none;
}

.tab_content {
    clear: both;
    overflow: hidden;
    padding: 5px;
    padding-top: 0px;
    background-color: var(--counter-color,#5ab4bd);
}

.tabs input:checked + .tab_item {
    background-color: var(--counter-color,#5ab4bd);
    color: black;
}