body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom : 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Container {
  flex-direction: horizontal;
}

.TableContainer {
    display: inline-block;
    margin-right: 40px;
    min-width: 600px;
    background : white;
    width: 50%;
}

.FormContainer {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  width: 46%;
  min-width : 500px;
}
.Form {
    display: inline-block;
    background-color: white;
    text-align: left;
    width: 600px;
    padding: 20px;
    font-size: 20px;
}
.Form button {
    margin-right : 5px;
    margin-top : 3px;
    padding-right : 10px;
    padding-left : 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.semester_tab_item {
    width: calc(100%/8);
    height: 40px;
    background-color: white;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    font-size: 20px;
}

.TitleContainer {
    width: 60%;
    padding: 10px;
    padding-top: 3px;
    padding-left: 50px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
}


